# Файлы виртуального окружения
.venv/
venv/
env/

# Файлы настроек IDE
.idea/
.vscode/

# Кэш Python
__pycache__/
*.py[cod]

# Файлы окружения
.env
.env.*

# Логи
*.log

# Другие временные файлы
*.tmp

